<form action="">
    <label for="addHeadline">Headline:</label>
    <br>
    <input type="text" id = "addHeadline">
    <br>
    <label for="addDesc">Description:</label>
    <br>
    <input type="text" id = "addDesc">
    <br>
    <label for="addGithub">Github Link:</label>
    <br>
    <input type="text" id = "addGithub">
    <br>
    <label for="addHeroku">Heroku Link:</label>
    <br>
    <input type="text" id = "addHeroku">
    <br>
    <label for="addImage">Add Image:</label>
    <input type="file" id = "addImg">
    <button id="submit">Add Project</button>
    <br>
</form>