/* Ensure elements are hidden while ScrollEntrance is loading */
[data-entrance] { visibility: hidden; }

:root {
    --theme-color: #06a763;
    --theme-text-color: #fff;   
}

body {
    background: #f5f5f5;
}

.cvBtn {
    width: 200px;
    padding: 10px;
    background: #06a763;
    display: inline-block;
    box-shadow: 2px 2px 5px #aaa;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.cvBtn:hover {
    color: #fff;
    text-decoration: none;
}

.bgImage {
    width: 100vw;
    height: 400px;
    background-image: url("../media/internet_blur.jpg");
    background-size:cover;

}

/* .shiftUp {
    position: absolute;
    top: -300px;
} */

.container {
    position: relative;
    top: -300px;
    margin-bottom: -300px;
}

.wrapper {
    width: 90%;
}
/* Profile start */
.profile {
    height: 350px;
    overflow: hidden;
    box-shadow: 0px 2px 10px #aaa;
    position: relative;
}

.profile .info {
    position: relative;
    height: 350px;
    width: 60%;
    background: var(--theme-color);
    float: left;
    color: var(--theme-text-color);
    padding: 30px;
}

.profile .info:after{
    position: absolute;
    content: "";
    top: 0px;
    right: -52px;
    border-left: 50px solid var(--theme-color);
    border-bottom: 350px solid var(--theme-color);
    border-right: 50px solid transparent;
}

.profile .info h1, .profile .info p {
    text-shadow: 3px 3px 10px #000;
}

.profile .info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

.profile .info a{
    font-family: 'Raleway', sans-serif;
    color: var(--theme-text-color);
    text-decoration-line: none;
}

.profile .info i{
    transition: 0.5s;
    margin: 0 5px;
}

.profile .info i:hover{
    transform: scale(1.5);
}

.fa-github-square{
    color: #333;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-stack-overflow{
    color: #f48024;
}

.profile .photo {
    width: 40%;
    float: right;
}

.profile .photo img {
    width: 100%;
    object-fit: cover;
}


/* profile ends */

/* bio starts */

.bio {
    min-height: 200px;
    overflow: hidden;
    box-shadow: 0px 2px 10px #aaa;
    background: var(--theme-text-color);
}

/*This is the initial state before animating */
[data-entrance="fadeIn-zoom-up"]{
	transform: scale(0.8) translateY(100px);
    opacity: 0;
}
/*This is the state after animating */
[data-entrance="fadeIn-zoom-up"].has-animated{
	transform: scale(1) translateY(0);
    opacity: 1;
}

.bio button {
    width: 200px;
    background: #06a763;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #333;
    border: 0px;
    margin: 0px 10px;
    color: #fff;
    height: 30px;
}

/* bio ends */

/* Skill starts */

.skill-img span {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.skill-img .image {
    position: relative;
    top: -10px;
    width: 70px;
    height: 70px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 2px 10px #aaa;
}

.skill-img .image img {
    width: 50px;
}

.skill {
    min-height: 200px;
    overflow: hidden;
    box-shadow: 0px 2px 10px #aaa;
    background: var(--theme-color);
    width: 100%;
    color: var(--theme-text-color);
    margin-left: 0px;
}

.skill .h4 {
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 10px #000;
}

.skill .progress {
    position: relative;
    top: -14px;
    margin-bottom: 10px;
}
/* skill ends */

/* testimonial start */
.testimonial {
    min-height: 200px;
    overflow: hidden;
    box-shadow: 0px 2px 10px #aaa;
    background: var(--theme-color);
    width: 100%;
    color: var(--theme-text-color);
    padding: 20px 10px;
    transition: 0.5s;
}

.testimonial-img span {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.testimonial-img .image {
    position: relative;
    top: -10px;
    width: 70px;
    height: 70px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 2px 10px #aaa;
}

.testimonial-img .image img {
    width: 50px;
}

.testimonial .person_img {
    width:120px;
    height: 120px;
    border-radius: 60px;
}

.carousel-indicators {
    bottom: -15px!important;
}

.person_img {
    box-shadow: 0px 2px 10px #333;
}
/* testimonial end */

/* portfolio start */
.portfolioBox {
    position: relative;
    
}
.portfolioBox:hover .imgContent .portfolioImg{
    transform: scale(1.5)
}
.portfolioBox:hover .textContent{
    background: rgba(0, 0, 0, 0.473);
    color: #d2c619;
    filter: drop-shadow(0px 0px 5px #fff)
}

.translate {
    transform: translateY(290px);
    transition: 0.5s
}

.portfolioBox:hover .translate{
    transform: translateY(120px);
}


.imgContent {
    position: relative;
    overflow: hidden;
    width: 99%;
    border: 3px solid #fff;
    box-shadow: 1px 1px 3px #aaa;
}

.textContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 0.6s;
    overflow: hidden;
    color: #FFF;
    filter: drop-shadow(0px 0px 5px #000)
}

.imgContent .portfolioImg{
    width: 100%;
    transition: 0.6s;
}

/* portfolio end */

/* Footer starts */

footer{
    width: 100vw;
    height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    line-height: 50px;
    font-weight: bold;
}

/* Footer Ends */


/* responsive */
@media screen and (max-width : 575px){
    .profile .info h1{
        font-size: 24px;
        margin-top: 25px;
    }

    .lead {
        font-size: 1.15rem;
    }

    .profile {
        overflow: visible;
    }

    .profile .info {
        width: 100%;
        float: none;
    }

    .profile .info .h2 {
        text-align: center;
        transform: translateX(-10px);
    }
    
    .profile .info:after{
        position: absolute;
        content: "";
        right: 0px;
        border: 0px;
        
    }

    .profile .photo {
        float: none;
        position: absolute;
        top: -46px;
        right: 34%;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid #06a763;
    }

    .translate {
        transform: translateY(388px);
    }

    .portfolioBox:hover .translate {
        transform: translateY(140px);
    }
}

@media screen and (min-width : 576px) and (max-width : 766px){
    .profile .info h1{
        font-size: 28px;
        margin-top : 10px;
    }
    .lead {
        font-size: 1.25rem;
    }

    .profile {
        overflow: visible;
    }

    .profile .info {
        width: 100%;
        float: none;
    }

   
    .profile .info:after{
        position: absolute;
        content: "";
        right: 0px;
        border: 0px;
        
    }

    .profile .photo {
        float: none;
        position: absolute;
        top: -90px;
        right: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid #06a763;
    }

    .translate {
        transform: translateY(450px);
    }

    .portfolioBox:hover .translate {
        transform: translateY(195px);
    }
}

@media screen and (min-width : 767px) and (max-width : 990px){
    .profile {
        overflow: visible;
    }

    .profile .info {
        width: 100%;
        float: none;
    }

   
    .profile .info:after{
        position: absolute;
        content: "";
        right: 0px;
        border: 0px;
        
    }
    
    .profile .photo {
        float: none;
        position: absolute;
        top: -90px;
        right: 0px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid #06a763;
    }

    .translate {
        transform: translateY(270px);
    }

    .portfolioBox:hover .translate {
        transform: translateY(110px);
    }

}

@media screen and (min-width : 991px) and (max-width :1199px){
    .translate {
        transform: translateY(233px);
    }
    
}