<div class="bio my-5 p-3 text-center" data-entrance="fadeIn-zoom-up" data-entrance-delay="500">
    <p class="lead">
        Hello! I’m Mohammed Hameed. A Web Developer with passion for specializing in front end development. Experienced with all
        stages of the development cycle for dynamic web projects.Having an in-depth knowledge including advanced HTML5, CSS,
        CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS. Strong background in management and leadership.
    </p>
    <button>Online CV</button>
    <button>Download</button>
</div>