<div class="colorBox">
    <div class="BoxHead">
        <p class="settingText">
            <i class="fas fa-cog"></i> <span>Settings</span>
        </p>
    </div>
    <div class="colors">
        
    </div>
</div>