<form id="contact" action="">
    <h3><i>I Would like to hear from you..</i></h3>
    <div class="form-group">
        <label for="enterName">Name</label>
        <input type="text" class="form-control" id="enterName" name="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="enterEmail">Email address</label>
        <input type="email" class="form-control" id="enterEmail" name="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="enterMessage">Message</label>
        <textarea class="form-control" id="enterMessage" name="message" rows="3"></textarea>
    </div>
    <h6>
        <i id="response">
            I don't send any ads or spam emails
        </i>
    </h6>
    <div class="col-auto my-1">
        <button type="submit" class="cvBtn">Send</button>
    </div>
</form>