<div class="skills mb-4" data-entrance="fadeIn-zoom-up">
    <div class="skill-img text-center mb-3">
        <div class="image">
            <img src="./media/mixer.png" alt="skill">
        </div>
        <span> SKILLS</span>
    </div>
    <div class="row skill py-4 mb-4 text-center">
        <div class="col-md-4 front_end">
            <p class="h4">Front End</p>
            <p class="float-left">HTML</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">CSS</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">jQuery</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">Bootstrap</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

        <div class="col-md-4 back_end">
            <p class="h4">Back End</p>
            <p class="float-left">NodeJS</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">MySQL</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">jQuery</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">Bootstrap</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-md-4 software">
            <p class="h4">Software</p>
            <p class="float-left">HTML</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">CSS</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">jQuery</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="float-left">Bootstrap</p>
            <p class="float-right">100%</p>
            <div class="clearfix"></div>
            <div class="progress" style="height: 5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>