<div>
    <div class="testimonial-img text-center my-3">
        <div class="image">
            <img src="./media/handshake.png" alt="testimonial">
        </div>
        <span> Testimonial</span>
    </div>
    <div class="testimonial text-center">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="items">
                        <img class="person_img" src="./media/webb.jpg" alt="webb">
                        <p class="lead">
                            I have had the Opportunity to work with Mohammed Hameed, Aircraft maintenance Engineer currently working with Iraqi Airways
                            in Baghdad, Iraq. During the time of my assignment in Baghdad in 2014, I found Mr. Hameed to
                            be very thorough, very intelligent, and very motivated. I can recommend Mr. Hameed as a trustworthy
                            and loyal team member in your organization.
                        </p>
                        <br>
                        <p>
                            Richard G. Webb Field Service - Boeing Commercial Airplane
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="items">
                        <img class="person_img" src="./media/nazzal.jpg" alt="nazzal">
                        <p class="lead">
                            Inspite of his short experience working on Aircraft which is alomst 2 years, Mr. Hameed showed a skillful, safe and follow
                            manuals throughout the task given. A positive attitude with the ability to learn and share thoughts
                            and ideas with his colleagues, in addition to be time oriented and punctual, also the quiet type
                            with a smiley face all the time.
                        </p>
                        <br>
                        <p>
                            Mohammed Nazzal, Project Manager - Iraq Bombardier Aerospace - Canada
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="items">
                        <img class="person_img" src="./media/walker.jpg" alt="walker">
                        <p class="lead">I had the pleasure of working with Mohammed for 2 years. New to our processes, Mohammed adapted well
                            and hit the ground running. He had a strong desire in learning how to troubleshoot and was steadfast
                            in completing tasks once started. His character speaks volumes to his customers and peers. No
                            matter what carrer path Mohammed decided to take, I'm confident he will exceed any expectation
                            by overcomming obstacles and keeping athirst in learning.
                        </p>
                        <p>Darvis K Walker, Manager of Network services, AT&amp;T </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>